@charset "utf-8";

/* リセット */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: 0;
}

button {
  padding: 0;
  border: 0;
  background-color: inherit;
}

/* 全体 */
body {
  font-family: 'Kosugi', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3F1ED;
  color: #333;
  letter-spacing: 0.07em;
}

main {
  width: 1000px;
  margin: 0 auto;
}

/* ヘッダー */
header {
  padding: 16px 36px;
  display: flex;
  align-items: center;
  gap: 12px;
}

h1 {
  font-family: 'Monomaniac One', sans-serif;
  font-size: 30px;
  position: relative;
  top: -4px;
}

.subtitle {
  font-family: 'Kosugi', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.title-logo {
  width: 55px;
  height: 50px;
}

/* 名前などを入力するエリア */
.input-area {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.form-wrapper {
  position: relative;
}

.input-label {
  position: absolute;
  font-size: 12px;
  top: -20px;
}

.input {
  width: 170px;
  padding: 8px;
  border-radius: 24px;
  border: 1px solid #333;
}

.add-button {
  background-color: #DEC9BD;
  border: 1px solid #333;
  border-radius: 16px;
  font-size: 13px;
  padding: 4px 14px;
  cursor: pointer;
}

.user-button {
  display: block;
  font-size: 14px;
}

.user-button-container {
  display: flex;
  position: relative;
  gap: 18px;
}

.user-button {
  width: 74px;
  height: 44px;
  border-radius: 24px;
  border: 1px solid #333;
  text-align: center;
  line-height: 44px;
  overflow: hidden;
}

.user-button-1 {
  background-color: #FFD66E;
}

.user-button-2 {
  background-color: #4AD6D9;
}

.user-button-3 {
  background-color: #FF7394;
}

.user-button-4 {
  background-color: #7DDEAB;
}

/* スケジュールエリア */
.schedule-display-area {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 28px 0;
  background-color: #FFF;
  border: 1px solid #333;
  border-radius: 30px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 900px;
}

thead th {
  padding-bottom: 8px;
  user-select: none;
}

tbody tr {
  position: relative;
}

[data-date$="24"] {
  display: none;
}

.time-24 {
  transform: translateY(7px);
}

tbody th {
  width: 18px;
  user-select: none;
  font-size: 12px;
  position: relative;
  top: -14px;
}

tbody td {
  border: 1px solid #333;
  user-select: none;
  width: 100px;
  height: 26px;
  padding: 0;
}

.th-date {
  font-size: 15px;
}

.th-day {
  font-size: 12px;
  margin-top: 2px;
}

.sunday {
  color: #FF587F;
}

.saturday {
  color: #00C9EB;
}

.time-24 {
  font-size: 12px;
  font-weight: bold;
}

/* 分割したセル用 */
.container-cell {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.user-cell {
  flex: 1;
}

/* フッター */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 20px 0 15px
}

footer p {
  font-size: 13px;
  letter-spacing: 0.05em;
}

.team-logo {
  width: 26px;
  height: 26px;
}

/* user_page */
.input-area-user-page {
  justify-content: end;
  gap: 14px;
}

.user-page-button {
  width: 120px;
  height: 50px;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #333;
  border-radius: 24px;
  cursor: pointer;
}

.save-button {
  background-color: #DEC9BD;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button-small {
  font-size: 10px;
}

.draggable-date-section-user-page {
  cursor: pointer;
}

.is-free {
  background: red;
}

.hidden {
  display: none;
}

/* ユーザーID 1のスケジュール用の色 */
.user-color-1 {
  background-color: #FFD66E;
  /* 黄色のシェード */
}

/* ユーザーID 2のスケジュール用の色 */
.user-color-2 {
  background-color: #4AD6D9;
  /* 青色のシェード */
}

/* ユーザーID 3のスケジュール用の色 */
.user-color-3 {
  background-color: #FF7394;
  /* 赤色のシェード */
}

.user-color-4 {
  background-color: #7DDEAB;
  /* 緑色のシェード */
}

/* 以下、必要に応じて他のユーザーIDに対する色を追加 */


/* 4人が選択したセルをハイライトするスタイル */
.highlighted {
  position: relative; /* z-indexを機能させるために必要 */
  z-index: 1; /* 他のセルより前面に表示 */
  border: 3px solid #f34c10; /* ボーダーの色と太さ */
  

  animation: pulse 1.5s infinite;  
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 1); }
  100% { box-shadow: 0 0 0 7px rgba(141, 141, 141, 0); }
}