@charset "utf-8";

/* リセット */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: 0;
}

button {
  padding: 0;
  border: 0;
  background-color: inherit;
}

/* 全体 */
body {
  font-family: 'Kosugi', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3F1ED;
  color: #333;
  letter-spacing: 0.07em;
}

main {
  width: 1000px;
  margin: 0 auto;
}

/* 名前などを入力するエリア */
.input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
}

.form-wrapper {
  position: relative;
}

.input-label {
  position: absolute;
  font-size: 12px;
  top: -18px;
}

.input {
  width: 170px;
  padding: 8px;
  border-radius: 24px;
  border: 1px solid #333;
}

.add-button {
  background-color: #DEC9BD;
  border: 1px solid #333;
  border-radius: 16px;
  font-size: 13px;
  padding: 4px 14px;
  cursor: pointer;
}

.user-button {
  display: block;
  font-size: 14px;
}

.user-button-container {
  display: flex;
  position: relative;
  gap: 18px;
}

.user-button {
  width: 74px;
  height: 44px;
  border-radius: 24px;
  border: 1px solid #333;
  text-align: center;
  line-height: 44px;
}

.user-button-1 {
  background-color: #FFD66E;
}

.user-button-2 {
  background-color: #4AD6D9;
}

.user-button-3 {
  background-color: #FF7394;
}

.user-button-4 {
  background-color: #7DDEAB;
}

.day {
  font-size: 12px;
}

/* スケジュールエリア */
.schedule-display-area {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 50px 30px 60px;
  background-color: #FFF;
  border: 1px solid #333;
  border-radius: 30px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 840px;
}

thead th {
  padding-bottom: 6px;
  user-select: none;
}

tbody th {
  width: 24px;
  height: 36px;
  user-select: none;
}

tbody td {
  cursor: pointer;
  border: 1px solid;
  user-select: none;
  width: 100px;
  height: 50px;
}

.is-free {
  background: red;
}

.hidden {
  display: none;
}

/* index.css */

/* ユーザーID 1のスケジュール用の色 */
.user-color-1 {
  background-color: #FFD66E;
  /* 黄色のシェード */
}

/* ユーザーID 2のスケジュール用の色 */
.user-color-2 {
  background-color: #4AD6D9;
  /* 青色のシェード */
}

/* ユーザーID 3のスケジュール用の色 */
.user-color-3 {
  background-color: #FF7394;
  /* 赤色のシェード */
}

.user-color-4 {
  background-color: #7DDEAB;
  /* 緑色のシェード */
}

/* 以下、必要に応じて他のユーザーIDに対する色を追加 */