@charset "utf-8";

/* リセット */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* wrapper */
#wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* フォーム */

/* テーブル */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead th {
  padding-bottom: 6px;
  user-select: none;
}

tbody th {
  position: relative;
  width: 24px;
  height: 36px;
  user-select: none;
}

.hour {
  position:absolute;
  font-size: 14px;
  top: -7px;
  line-height: 1rem;
}

.hour-last {
  top: 29px;
}

tbody td {
  cursor: pointer;
  border: 1px solid;
  user-select: none;
}

/* スケジュールセル */
.is-free {
  background: red;
}

.is-free::after {
  content: "◎";
}


/* 色 */

.yellow {
  background-color: yellow;
}

.skyblue {
  background-color: skyblue;
}
