<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>スケミ -軽い・はやい・簡単なスケジュールアプリ-</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kosugi&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>スケミ</h1>
  </header>
  <main>
    <div class="input-area">
      <form action="/add_user" id="user-form" method="post" class="form-wrapper">
        <label for="user-name" class="input-label">ニックネームを入力：</label>
        <input type="text" name="user_name" id="user-name" class="input" placeholder="ニックネーム">
        <input type="submit" value="追加する" class="add-button">
      </form>
      <form action="" id="date-form" class="form-wrapper">
        <label for="base-date" class="input-label">開始日を選択：</label>
        <input type="date" id="base-date" class="input">
      </form>
      <div class="user-button-container">
        <div class="user-button-wrapper">
          <a href="#" class="user-button">原田</a>
          <button class="delete-button">x 削除</button>
        </div>
        <div class="user-button-wrapper">
          <a href="#" class="user-button">梶原</a>
          <button class="delete-button">x 削除</button>
        </div>
        <div class="user-button-wrapper">
          <a href="#" class="user-button">伊藤</a>
          <button class="delete-button">x 削除</button>
        </div>
        <div class="user-button-wrapper">
          <a href="#" class="user-button">野上</a>
          <button class="delete-button">x 削除</button>
        </div>
        <p class="input-label">スケジュールを入力：</p>
      </div>
      <div>
        <% if defined?(user_1) && user_1 && user_1['user_id'] %>
          <button data-userid="1" class="user-button" style="background: yellow; cursor: pointer"><%= user_1['user_name'] %></button>
        <% else %>
          <button data-userid="1" class="user-button" style="background: yellow; cursor: pointer"></button>
        <% end %>

        <% if defined?(user_2) && user_2 && user_2['user_id'] %>
          <button data-userid="2" class="user-button" style="background: skyblue; cursor: pointer"><%= user_2['user_name'] %></button>
        <% else %>
          <button data-userid="2" class="user-button" style="background: skyblue; cursor: pointer"></button>
        <% end %>
      </div>
    </div>
    <div class="schedule-display-area">
      <table>
        <thead>
          <tr>
            <!-- 空白のセルを1つ用意 -->
            <th></th>
            <!-- ここに、選択された日付から1週間分の th を入れていく -->
          </tr>
        </thead>
          <tbody id='draggable-date-section'>
            <!-- ここに、スケジュール入力用セルを入れていく -->
          </tbody>
      </table>
    </div>
    <form action="" id="save-form">
      <input type="submit" value="保存" id="save-button">
    </form>
  </main>
  </div>
  <script type="module" src="js/index.js"></script>
    <script type="module" src="js/putSchedule.js"></script>
  <script type="module" src="js/button.js"></script>
    <script type="module" src="js/saveName.js"></script>

</body>
</html>
