<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>スケミ ユーザーページ</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kosugi&family=Monomaniac+One&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <img src="/images/sukemi_logo.png" alt="スケミロゴ" class="title-logo">
    <h1>スケミ</h1>
    <span class="subtitle">軽い！速い！簡単！なスケジュールアプリ</span>
  </header>
  <main>
    <input type="date" id="base-date" class="hidden">
    <div class="input-area input-area-user-page">
      <a href="/" class="back-button user-page-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      <span class="back-button-small">保存せずに</span>戻る</a>
      <form action="http://localhost:8000/save" id="save-form">
        <input type="submit" value="保存" id="save-button" class="save-button user-page-button">
      </form>
    </div>
    <div class="schedule-display-area">
      <table>
        <thead>
          <tr>
            <!-- 空白のセルを1つ用意 -->
            <th></th>
            <!-- ここに、選択された日付から1週間分の th を入れていく -->
          </tr>
        </thead>
          <tbody id='draggable-date-section' class="draggable-date-section-user-page">
            <!-- ここに、スケジュール入力用セルを入れていく -->
          </tbody>
      </table>
    </div>
  </main>
  <footer>
    <p>Developed by TEAM Dodo</p>
    <img src="/images/team_dodo_logo.png" alt="チームDodoロゴ" class="team-logo">
  </footer>
  <script type="module" src="/js/user_page.js"></script>
  <script type="module" src="/js/putSchedule.js"></script>
</body>
</html>