<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>スケミ</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="wrapper">
  <header>
    <h1>スケミ</h1>
    <div id="user-name-block"></div>
  </header>
  <main>
    <input type="date" id="base-date">
    
    
    <table>
      <thead>
        <tr>
          <!-- 空白のセルを1つ用意 -->
          <th></th>
          <!-- ここに、選択された日付から1週間分の th を入れていく -->
        </tr>
      </thead>
        <tbody id='draggable-date-section'>

        </tbody>
    </table>
    <form action="http://localhost:8000/save" id="save-form">
      <input type="submit" value="保存" id="save-button">
    </form>
  </main>
  </div>
  <script type="module" src="/js/index.js"></script>
    <script type="module" src="/js/putSchedule.js"></script>
  <script type="module" src="/js/button.js"></script>
    

</body>
</html>